*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: var(--background-color);
}

#cont{
    position: relative;
    margin: 20px auto;
    width: 350px;
    border: 2px solid var(--border-color);
    border-radius: 30px;
    box-shadow: 5px 5px 8px var(--border-color);
    background-color: var(--background-screen);
    padding: 15px;
    padding-bottom: 20px;
    font-size: 10px;
    line-height: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
#cont p{
    font-weight: 100;
}
#login{
    font-weight: bold;
}
#cont hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
#cont input{
    position: absolute;
    right: 15px;
    width: 200px;
}
.error{
    color: red;
    font-weight: bold;
}
#back{
    position: absolute;
    right: 20px;
    bottom: 15px;
    width: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}
#chpsw{
    position: relative;
    margin-top: 10px;
    margin-left: 80%;
    width: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#delinfo{
    display: block;
    color: red;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
#delbox{
    margin-bottom: 50px;
}
#deleteAcc{
    position: relative;
    margin-top: 10px;
    width: 70px;
    font-weight: bold;
    color: red;
    letter-spacing: 3px;
    margin-left: 80%;
}